<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset='utf-8'" />

        <title>{$title}</title>

        <link rel="stylesheet" type="text/css" href="{staticHref('style.css')}" />
        <link rel="stylesheet" type="text/css" href="{staticHref('colorize.css')}" />
    </head>

    <body>
        <a href="http://github.com/archimag/restas/">
            <img style="position: absolute; top: 0; right: 0; border: 0;"
                 src="https://assets1.github.com/img/4c7dc970b89fd04b81c8e221ba88ff99a06c6b61?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_white_ffffff.png&path="
                 alt="Fork me on GitHub">
        </a>

        
        <div id="frame">
            <div id="page-title">
                <h1>RESTAS</h1>
                <b>Framework for web application development in Common Lisp</b>
            </div>


            <div id="menu">
                <ul>
                    {foreach $item in $contents}
                    <li>
                        {if $item.href}
                            <a href="{$item.href}">{$item.title}</a>
                        {else}
                            <strong>{$item.title}</strong>
                        {/if}

                        {if $item.childs}                            
                        <ul>
                            {foreach $item2 in $item.childs}
                            <li>
                                {if $item2.href}
                                <a href="{$item2.href}">{$item2.title}</a>
                                {else}
                                <strong>{$item2.title}</strong>
                                {/if}
                            </li>
                            {/foreach}
                        </ul>
                        {/if}
                    </li>
                    {/foreach}
                </ul>
            </div>
            
            <div id="content">
                {$content |noAutoescape}
            </div>
            
        </div>

        <div class="bottom">@2009-2010 Moskvitin Andrey</div>

        /*
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-5970365-12']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        */
    </body>
</html>

