.symbol { color : #770055; background-color : transparent; border: 0px; margin: 0px;}
a.symbol:link { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:active { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:visited { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:hover { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
.special { color : #FF5000; background-color : inherit; }
.keyword { color : #770000; background-color : inherit; }
.comment { color : #007777; background-color : inherit; }
.string { color : #777777; background-color : inherit; }
.character { color : #0055AA; background-color : inherit; }
.syntaxerror { color : #FF0000; background-color : inherit; }
/* span.paren1:hover { color : inherit; background-color : #BAFFFF; } */
/* span.paren2:hover { color : inherit; background-color : #FFCACA; } */
/* span.paren3:hover { color : inherit; background-color : #FFFFBA; } */
/* span.paren4:hover { color : inherit; background-color : #CACAFF; } */
/* span.paren5:hover { color : inherit; background-color : #CAFFCA; } */
/* span.paren6:hover { color : inherit; background-color : #FFBAFF; } */

pre, .code {
    background-color: #eee;
    border: 1px solid #d0d0d0;
    margin: 0.2em;
    padding: 0.5em;
    font-family: "Courier New", monospace;
    font-size: 90%;
    overflow: auto;
}